# Core dbt dependencies
dbt-core==1.9.4
dbt-clickhouse==1.9.1

# Test dependencies
pytest==8.2.1

# Database drivers
clickhouse-driver==0.2.6
clickhouse-connect==0.8.17

# Blockchain interaction
web3==6.11.1

# Data processing
pandas==2.2.3
numpy==2.2.5

# Utilities
pyyaml==6.0.1
sqlparse==0.5.1
python-dotenv==1.1.0